[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
canvasapi = "*"
python-dotenv = "*"
tqdm = "*"
click = "*"
numpy = "*"
networkx = "*"
flask = "*"
gunicorn = "*"
fastapi = {extras = ["all"], version = "*"}

[dev-packages]
matplotlib = "*"

[requires]
python_version = "3.10"
