<!-- Macro for building navbar items -->
{% macro build_nav_item(item) -%}
    <!-- Standard item -->
    {% if 'type' not in item or item.type == 'item' %}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ item.url }}">{{ item.name }}</a>
        </li>
    <!-- Dropdown item -->
    {% elif 'type' in item and item.type == 'dropdown' %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ item.url }}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ item.name }}
            </a>
            {% for child in item.children %}
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{{ child.url }}">{{ child.name }}</a></li>
                </ul>
            {% endfor %}
        </li>
    {% endif %}
{%- endmacro %}

<!-- Construct the navbar -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">{{ meta.title }}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% for item in meta.nav %}
                    {{ build_nav_item(item) }}
                {% endfor %}
            </ul>
          </div>
        </div>
    </nav>
</header>